* {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

main {
	width: 80%;
	margin: 15px auto;
	padding: 15px;
	box-shadow: 0 0 5px 0 var(--shadow-color);
	background-color: var(--clear-background-color);
}

@media all and (max-width: 800px) {
	main{
		width: 100%;
	}
}
